.login-page{
    background-color: var(--secundaryColor);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--topSpace) 0 50px 0;
    min-height: 70vh;
    overflow-x: hidden; 
}
.login-page .login-limite{
    width: var(--contentSize);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page .form-login{
    display: flex;
    flex-direction: column;
    width: 400px;   
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    margin: 50px 0 50px 0;
}

.login-page input{
    border: none;
    border-bottom: 1px solid #999999;
    height: 40px;
    background-color: transparent;
    padding-left: 10px;
    color: white;
    outline: none;
    transition: 0.5s ease-in-out;
}

.login-page input:focus{
    border-bottom-color: orangered;
}

.login-page .form-login input{
    height: 40px;
    
}

.login-page .form-login #button-login{
    background-color: green;
    color: white;
    border: none;
    transition: 0.2s ease-in-out;
}

.login-page .form-login #button-login:hover{
    opacity: 0.8;
    cursor: pointer;
}
.login-page .criar-recuperar{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.login-page .criar-conta{
    text-decoration: none;
    color: rgb(243, 108, 59);
    font-size: 15px;
}

.login-page .btns-logins{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;       
}

.login-page .btns-logins button{
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: var(--primaryColor);
    box-shadow: 2px 2px 2px #111;
    border: none;
}

.login-page .btns-logins .div-facebook{
    font-size: 35px;
    color: #4267B2;
    background-color: var(--primaryColor);
    box-shadow: 2px 2px 2px #111;
    border: none;
    overflow: hidden;
}

.login-page .btns-logins .facebook-icon{    
    padding: 0;
    margin: 0;
    background-color: var(--primaryColor);
}

.login-page .btns-logins button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.criar-conta:hover, #recuperar-senha:hover{
    opacity: 0.7;
    cursor: pointer;
}

.login-page #recuperar-senha{
    color: #999999;
}