.categoria{
    background-color: #252525;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: var(--topSpace) 0 50px 0;
    min-height: 70vh;
}

.categoria-limite{
    width: var(--contentSize);
}

.menu-filters-options{
    font-size: 11px;
    color: gray;
    font-weight: bold;    
    padding: 15px 0 30px 0;
    margin-bottom: 15px;
}
.div-links-categorias{
    display: flex;
    align-items: center;    
    gap: 5px;    
}
.link-categoria{
    color: rgb(236, 99, 49);
    cursor: pointer;
    font-size: 11px;
}
.link-categoria:hover{
    opacity: 0.5;
}

.out{
    width: 100%;
}