.opacity-on-focus:focus{
    opacity: 0.7;
}

.box_sociais{
    height: 20px;
    width: var(--contentSize);
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-top: 5px;    
}

.box_sociais svg:hover{
    color: var(--primaryOrange);
    cursor: pointer;
}
nav{
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;
    box-shadow: 1px 0 4px #353535;
}

.navbar{
    padding: 10px 0 10px 0;
}

.logo{
    text-decoration: none;
}

.logo img{
    width: 25px;
}

.hamburger_btn:hover{
    color: var(--primaryOrange);
    cursor: pointer;
}

.form_search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;    
}

.cart_btn{ 
    position: relative;   
    color: white;
    width: 30px;
    font-weight: bold;
}

.cart_btn .cart_badge{
    position: absolute; 
    font-size: 12px;  
}


.div-btn-account .btn-sair:hover{
    color: red;
}

@media screen and (min-width: 769px) {
    
    .navbar{       
        width: var(--contentSize);        
        display: flex;        
        align-items: center;
        justify-content: space-between;        
    } 

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;        
        color: white;        
        font-size: 19px;       
        font-weight: bold;   
    }  

    .navbar .form_search button:hover{
        color: var(--primaryOrange);
    }
   
    .navbar .btn-menu-lateral{
        font-size: 30px;  
        color: white;        
        align-self: center; 
    }
    
    .cart_btn{
        font-size: 22px;
    }
}
@media screen and (max-width: 1064px) {
    
}
@media screen and (max-width: 768px) {
    
    .navbar{ 
        width: 100%;       
        margin-top: 15px;        
        display: grid;       
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;        
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        padding: 5px;
        background-color: #222222;
        gap: 5px;
    }    
   
    .navbar .logo{
        color: white;
        font-size: 19px;       
        grid-column-start: 3;
        text-align: center;
        font-weight: bold;
        grid-column-start: 2;
        grid-column-end: 5;
    } 
    .navbar .logo img{
        width: 20px;
        
    }
    .form_search{        
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 6;        
        width: 97vw;        
    }  

    .div_account{
        display: none;
    }

    .navbar .cart_btn{
        font-size: 22px;
        align-self: end;
        justify-self: center;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 1;
        position: relative;
    }

    .box_sociais{
        display: none;
    }
}

