.aov-card{    
    overflow: hidden; 
    font-size: 13px;    
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;   

}

.aov-card .box-imagem{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
    opacity: 0.6;    
    overflow: hidden;    
    
}

.aov-card .box-imagem img{
    max-width: 90%;
    max-height: 90%;
}

.aov-card .box-imagem a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aov-card .descricao{
    cursor: pointer;
    margin-bottom: 5px;
    height: 60px;
}

.aov-card .informacoes-produto{
    padding: 5px;  
    display: flex;
    flex-direction: column;
}

.preco-anterior{
    color: gray;
    margin-top: 15px;
}
.preco-atual{
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.preco-parcelado{
    color: gray;
    font-size: 15px;
}

.aov-card:hover button{
    visibility: visible;
}

.aov-card .btn-bottom{
    border-radius: 0 0 5px 5px;
    height: 40px;
    width: 100%;
    color: white;
}

.aov-card .btn-add{
    background-color: green; 
    border: none;
    margin-top: 5px;
    font-size: 12px;    
    visibility: hidden;
    cursor: pointer;
}

.aov-card .btn-onCart{    
    border-radius: 0 0 5px 5px;
    height: 40px;
    width: 100%;    
    margin-top: 5px;
    font-size: 25px;
    color: white;    
    cursor: pointer;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aov-card .btn-onCart button{
    border: none;
    width: 40px;
    height: 25px;
    background-color: #191919;
    border-radius: 5px;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aov-card .btn-onCart button:first-child{
    color: red;
}

.aov-card .btn-onCart button:last-child{
    color: Green;
}

.aov-card .btn-onCart button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.aov-card button:hover{
    color: black;
}

@media screen and (max-width: 769px)
{
    .aov-card .btn-add{
        display: block;
    }
}

@media screen and (max-width: 480px){
   
}