.search-page{
    margin-top: var(--topSpace);
    background-color: #252525;
    color: white;
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    min-height: 80vh;    
}

.search-page .page-limit{
    width: var(--contentSize);
    padding: 20px;
    display: flex;   
    justify-content: center;    
    flex-direction: column;
}