*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}
html,body{
  background-color: #333333;
 
}
:root{
  --contentSize: 1250px;
  --sidebarSize: 350px;
  --primaryOrange: #d46e29;
  --secundaryOrange: orangered;
  --primaryColor: #333;
  --secundaryColor:#222;
  --topSpace: 82px;

  @media screen and (max-width: 1274px) {
    --contentSize: 1044px;
  }
  @media screen and (max-width: 1064px) {
    --contentSize: 740px;
  }
  @media screen and (max-width: 780px) {
    --contentSize: 90%;
    --topSpace: 105px;
  }
  @media screen and (max-width: 480px){
    --sidebarSize: 280px;
  }

}