*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}
html,body{
  background-color: #333333;
  width: 100%;
}
:root{
  --contentSize: 1250px;
  --sidebarSize: 350px;
  --primaryOrange: #d46e29;
  --secundaryOrange: orangered;
  --primaryColor: #333;
  --secundaryColor:#222;
  --aovshopGreen: #008000;
  --topSpace: 100px;  

  @media screen and (max-width: 1274px) {
    --contentSize: 1044px;
  }
  @media screen and (max-width: 1064px) {
    --contentSize: 740px;
  }
  @media screen and (max-width: 780px) {
    --contentSize: 100%;
    --topSpace: 115px;
  }
  @media screen and (max-width: 480px){
    --sidebarSize: 280px;
    --contentSize: 400px;
  }

  .bg-aov-dark-0{
    background-color: var(--secundaryColor);
  }
  .bg-aov-dark-1{
    background-color: var(--primaryColor);
  }
  .bg-aov-orange-0{
    background-color: var(--primaryOrange);
  }
  .bg-aov-orange-1{
    background-color: var(--secundaryOrange);
  }
  .text-aov-orange-0{
    color: var(--primaryOrange);
  }
  .text-aov-orange-{
    color: var(--secundaryColor);
  }

  .aov-text-green{
    color: var(--aovshopGreen);
  }

  .aov-bold{
    font-weight: bold;
  }

  .aov-page{
    padding-top: var(--topSpace);
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundaryColor);
    min-height: 90vh;    
  }

  .aov-content{
    width: var(--contentSize);
  }

}



